<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
	<div class="containter-fluid">
		<a class="navbar-brand" href="/">Zakład Pogrzebowy Kowalczyk</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
						Produkty
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item">Trumny</a></li>
						<li><a class="dropdown-item">Urny</a></li>
						<li><a class="dropdown-item">Samochody</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link">Kontakt</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Opinie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Letnia Wyprzedaż</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
